

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu li a {
    color: #1d1b1b;
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    padding: 20px;
}
